@import '../../../styles.scss';
.window {
  border-radius: 18px;
  padding: 20px;
  height: 500px;
}

.content {
  background-color: white;
  border-radius: 18px;
  padding: 20px 40px;

  .title {
    font-weight: 700;
    color: $primary-color-dark;
  }
}
.chart {
  margin-left: 20px;
}
.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}
