<div class="toolbar py-2 px-4 my-3 d-flex justify-content-between">
  <div class="dropdown dataset">
    <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Choose dataset
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" >Miro Pele</a></li>
      <li><a class="dropdown-item">Marian</a></li>
      <li><a class="dropdown-item">Baba a dzedo</a></li>
    </ul>
  </div>

  <div class="right-side d-flex">
    <div class="dropdown model px-3">
      <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Predictive model
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" >Miro Pele</a></li>
        <li><a class="dropdown-item">Marian</a></li>
        <li><a class="dropdown-item">Baba a dzedo</a></li>
      </ul>
    </div>
    <button class="btn btn-pink">Upload dataset</button>
  </div>
</div>


