<div class="toolbar py-2 px-4 my-3 d-flex justify-content-between">
  <div class="d-flex align-content-center align-items-center">
    <div class="dropdown dataset">
      <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Choose dataset
      </button>
      <ul class="dropdown-menu">
        @for (dataset of datasets; track $index) {
          <li><a class="dropdown-item clickable" (click)="setDataset(dataset)">{{ dataset.name }}</a></li>
        }
      </ul>
    </div>

    @if (selectedDataset) {
      <div class="d-inline-block mx-2"> <strong>Selected dataset:</strong> {{ selectedDataset.name }}</div>
    }
  </div>

  <div class="right-side d-flex">
    <div class="chip">{{this.predictedModel ? "SVM" : "NaN" }}</div> 
    <div class="dropdown model px-3">
      <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Predictive model
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="setPredictiveSet(0)">NaN</a></li>
        <li><a class="dropdown-item" (click)="setPredictiveSet(1)">SVM</a></li>
      </ul>
    </div>
    <input 
      #uploadFileSet
      type="file" 
      class="d-none"
      accept=".csv"
      (change)="onFileSelected($event)"
    />
    <button inputmode="file" class="btn btn-pink" (click)="uploadFileSet.click()">Upload dataset</button>
  </div>
</div>


