@import '../../../styles.scss';

.toolbar {
  border-radius: 1rem;
  background-color: $secondary-color ;
}

.btn {
  font-weight: 600;
  border-radius: 20px!important;
}

.btn-pink {
  color: white;
  background-color: $primary-color-dark;
}

.btn-white {
  background-color: white;
}

.chip{
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.5rem;
  background-color: $primary-color-dark;
  border-radius: 1rem;
}